body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

.btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.crear {
    background: green;
    color: white;
}

.cancelar {
    background: red;
    color: white;
}

.guardar {
    background: blue;
    color: white;
}

.tabla-container {
    margin-top: 20px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.modal-content {
    background: white;
    width: 450px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
